:root {
  --font-family: Nunito, Arial, Helvetica, sans-serif;
}
body {
  font-family: var(--font-family);
  font-weight: 450;
  background: #f0f0f0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.spacebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cat {
  max-height: 80vh;
  max-width: 85%;
  height: auto;
  border-radius: .7rem;
}
#catFact {
    
}
#spacebarButton {
  width: 5rem;
  font-family: var(--font-family);
  font-weight: bold;
  background-color: aquamarine;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease transform;
}

#spacebarButton:active {
  transform: translateY(3px);
}
